.letters a:hover {
    background-color: #ffa20d;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgL {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.marosca {
    margin-bottom: 3px;
}
